* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
}

.greetings{ color: white; background-color: crimson; padding: 15px; margin: 20px; border-radius: 10px; } 
.navbar{ color: black; padding: 10px; margin: 20px; background-color: purple; display: flex; gap: 50px; border-radius: 10px; }